{% extends "elements/base.html" %}


{% block title %}
Authors
{% endblock %}


{% block content %}
<div style="padding-top: 20px; padding-bottom: 10px" class="container">
    <table class="table table-hover table-striped table-dark table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.category_id.title }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
