{% extends "elements/base.html" %}


{% block title %}
Posts
{% endblock %}


{% block content %}
<div style="padding-top: 20px; padding-bottom: 10px" class="container">
    <div class="jumbotron">
        <h1 class="display-4">Title: {{ post.title }}</h1>
        <p class="lead">Content: {{ post.content }}</p>
        <p class="lead">Author: {{ post.author_id }}</p>
        <hr class="my-4">
        <p>Description: {{ post.description }}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_update' post_id=post.id %}" role="button">Edit Post</a>
        </p>
    </div>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}