{% extends "elements/base.html" %}


{% block title %}
    asgsg
{% endblock %}


{% block content %}

    <div class="container">
        <h1>Posts</h1>
        <div class="error">
            {{ err }}
        </div>
        <div class="dj_error">
            {{ form.errors }}
        </div>
        <div class="payLoad">
            <form method="POST">
                {% csrf_token %}

                {{ form.title }}
                {{ form.description }}
                {{ form.content }}
                {{ form.author_id }}
                <br>
                {% if authenticated %}
                    <button class="btn btn-success">Edit Post</button>
                    <button class="btn btn-default btn-danger" name="delete" type="submit" value="Delete post">Delete
                        Post
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}